<div
  class="sticky-note"
  [class.is-dragging]="isDragging"
  [class.is-editing]="isEditing"
  [style.background]="note.bgColor"
  [style.color]="note.textColor"
  [style.transform]="noteTransform"
  [style.width.px]="note.width"
  [style.height.px]="note.height"
>
  <input
    #labelInput
    class="sticky-note-label"
    [class.on-focus]="isLabelEditing"
    type="text"
    spellcheck="false"
    [value]="note.label"
    [readOnly]="!isLabelEditing"
    (input)="onLabelInput(labelInput.value)"
    (mousedown)="onLabelMouseDown($event)"
    (dblclick)="startEditingLabel(labelInput)"
    (blur)="stopEditingLabel()"
    placeholder="Sticky Note..."
  />
  <textarea
    #contentInput
    class="sticky-note-content"
    [class.on-focus]="isContentEditing"
    spellcheck="false"
    [style.fontSize.px]="contentFontSize"
    [style.color]="note.textColor"
    [value]="note.content"
    [readOnly]="!isEditing"
    (input)="onContentInput(contentInput.value)"
    (mousedown)="onContentMouseDown($event)"
    (dblclick)="startEditing(contentInput)"
    (blur)="stopEditing()"
    placeholder="Write your note here..."
  ></textarea>
  <div class="sticky-note-icon">
    <span class="material-symbols-outlined">{{ note.icon }}</span>
  </div>

  <div class="resize-handle resize-handle--nw" (mousedown)="onResizeMouseDown($event, 'nw')"></div>
  <div class="resize-handle resize-handle--ne" (mousedown)="onResizeMouseDown($event, 'ne')"></div>
  <div class="resize-handle resize-handle--sw" (mousedown)="onResizeMouseDown($event, 'sw')"></div>
  <div class="resize-handle resize-handle--se" (mousedown)="onResizeMouseDown($event, 'se')"></div>
</div>
