<div
  class="sticky-note"
  [class.is-dragging]="isDragging"
  [class.is-editing]="isEditing"
  [style.background]="note.bgColor"
  [style.color]="note.textColor"
  [style.transform]="noteTransform"
>
  <input
    #labelInput
    class="sticky-note-label"
    type="text"
    spellcheck="false"
    [value]="note.label"
    [readOnly]="!isLabelEditing"
    (input)="onLabelInput(labelInput.value)"
    (mousedown)="onLabelMouseDown($event)"
    (dblclick)="startEditingLabel(labelInput)"
    (blur)="stopEditingLabel()"
  />
  <textarea
    #contentInput
    class="sticky-note-content"
    spellcheck="false"
    [style.fontSize.px]="contentFontSize"
    [style.color]="note.textColor"
    [value]="note.content"
    [readOnly]="!isEditing"
    (input)="onContentInput(contentInput.value)"
    (mousedown)="onContentMouseDown($event)"
    (dblclick)="startEditing(contentInput)"
    (blur)="stopEditing()"
  ></textarea>
  <div class="sticky-note-icon">
    <span class="material-symbols-outlined">{{ note.icon }}</span>
  </div>
</div>
