<header
  class="fixed top-0 left-0 right-0 h-16 z-50 flex justify-between items-center px-lg bg-surface border-b border-outline-variant"
>
  <div class="flex items-center gap-md">
    <span class="text-headline-md font-headline-md font-bold text-on-surface">DevOps Sentinel</span>
    <div
      class="hidden md:flex items-center bg-surface-container-highest px-md py-xs rounded-lg border border-outline-variant"
    >
      <span class="material-symbols-outlined text-on-surface-variant text-[18px] mr-xs"
        >search</span
      >
      <input
        class="bg-transparent border-none focus:ring-0 text-body-sm text-on-surface-variant w-64"
        placeholder="Search team or tickets..."
        type="text"
      />
    </div>
  </div>
  <div class="flex items-center gap-md">
    <button
      class="material-symbols-outlined text-on-surface-variant hover:bg-surface-container-highest p-xs rounded-full transition-colors"
    >
      notifications
    </button>
    <button
      class="material-symbols-outlined text-on-surface-variant hover:bg-surface-container-highest p-xs rounded-full transition-colors"
    >
      settings
    </button>
    <div class="h-8 w-8 rounded-full overflow-hidden border border-outline-variant">
      <img
        class="h-full w-full object-cover"
        alt="Lead Engineer Profile"
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuBVgfOzMV3fpDh3uhW0PqjyR7BeJWGrSSC92egleKVb9teQiAzXOTK28YvNHftQV19_f7vj0GdM7vKVX7KhOF7MQX6yEhcw9YYi9-RMcaeLSme6X-x7WMUo08ZPW5hJ6rXu_-OAVckmxljFaB0S679Rh4d5yzFPh1hv4lsaKtWwSioxgmMGs5kGz3hh7V7N5WmMqrkTAGKqc2GqNDHY6SfNIh70WfBig3RRR_iqt5uJbCnC3WZdBtAT9VjmEAjumbntP9mM-0g1CGVn"
      />
    </div>
  </div>
</header>
